@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5" style ="color: black">Dobro došli</h1>
    <p style ="color: black">Ovdje kliknite da bi <a href="/vozila">dodali vaša vozila</a>.</p>
</div>



<style>
    body {
        background-image: url("/Images/car.jpg"); 
        background-size: cover;
        background-color: #e6f542; 
    }
</style>>